@model IEnumerable<ViewComponentSample.Models.TodoItem>

<h3>Priority Items</h3>
<ul>
    @foreach (var todo in Model)
    {
        <li id="@todo.Name">@todo.Name</li>
    }
</ul>
<style>
    li{
    padding:10px;
    list-style-type: none;
    }
    #Task1{
background-color: red;
    }

    #Task2 {
        background-color: cadetblue;
    }

    #Task3 {
        background-color: burlywood;
    }

    #Task4 {
        background-color: yellow;
    }

    #Task5 {
        background-color: aqua;
    }
</style>